# Core functionality - changes here should be rare!
/src/app.py                   @HeeroYuyPX1
/src/backend/database.py      @HeeroYuyPX1
/src/backend/routers/auth.py  @HeeroYuyPX1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HeeroYuyPX1
